
/*
 Theme Name:   Twenty Twelve Child
 Theme URI:    http://example.com/twenty-twelve-child/
 Description:  Twenty Twelve Child Theme
 Author:       John Doe
 Author URI:   http://example.com
 Template:     twentytwelve
 Version:      1.0.0
 Tags:         light, dark, two-columns, right-sidebar, responsive-layout, accessibility-ready
 Text Domain:  twenty-twelve-child
*/


@import url("../twentytwelve/style.css");


/* =Theme customization starts here
-------------------------------------------------------------- */


@font-face {
    font-family: 'OpticalFiber'; 
    src: url('fonts/optical_fiber.ttf') format('truetype'); 
    font-stretch: normal; 
    font-weight: normal;  
    font-style: normal;   
    unicode-range: U+0-10FFFF; 
}

@font-face {
    font-family: 'Trench'; 
    src: url('fonts/trench.otf') format('opentype'); 
    font-stretch: normal; 
    font-weight: normal;  
    font-style: normal;   
    unicode-range: U+0-10FFFF; 
}



/* =Basic structure
-------------------------------------------------------------- */

/* Body, links, basics */

body.custom-font-enabled { 
    font-family: Trench, "Trebuchet MS", Helvetica, Verdana,sans-serif;
    color: #8bcafd;
    background-color: #012c58;    
}


.site {
    background-color: #02376d;
}

footer.entry-meta {
    color: #5468B4;
}

a {
    outline: none;
    color: #8bcafd;
}
a:hover {
    color: #2fa1fe;
}


.main-navigation .current-menu-item > a,
.main-navigation .current-menu-ancestor > a,
.main-navigation .current_page_item > a,
.main-navigation .current_page_ancestor > a {
    color: #8bb3fd;
    font-weight: bold;
}

.main-navigation li a:hover,
.main-navigation li a:focus {
    color: #2fa1fe;
}

.main-navigation li a {
    color: #D2D2D5;
}

.comments-link a,
.entry-meta a {
    color: #6A7FB6;
}



/* Header */
.site-header h1 a,
.site-header h2 a {
    color: #8bcafd;
    display: inline-block;
    text-decoration: none;
}

.site-header h2 {
    font-weight: normal;
    font-size: 13px;
    font-size: 0.928571429rem;
    line-height: 1.846153846;
    color: #8bb3fd;
}

.site-header h1 a:hover,
.site-header h2 a:hover {
    color: #2fa1fe;
}

/* Small headers */
.archive-title,
.page-title,
.widget-title,
.entry-content th,
.comment-content th {
    color: inherit;
}

.widget-area .widget a {
    color: #2fa1fe;
}

.widget-area .widget a:visited {
    color: #2d93e6;
}

.widget-area .widget a:hover {
    color: #8bcafd;
}

.site-content article {
    border-bottom: 4px double #142550;
}

.main-navigation ul.nav-menu,
.main-navigation div.nav-menu > ul {
    border-bottom: 1px solid #3775B8;
    border-top: 1px solid #3775B8;
}

/* Footer */

footer[role="contentinfo"] a {
    color: #2a88d5;
}
footer[role="contentinfo"] a:hover {
    color: #2a9fd5;
}

